.container{
	width: 1228px;
	margin-left: auto;
	margin-right: auto;
}

/*清除浮动*/
.clearfix:after{
	display: block;
	content: "";
	height: 0;
	visibility: hidden;
	clear: both;
}
.clearfix{
	*zoom: 1;
}

/*a标签样式*/
a{
	text-decoration: none;
	font-size: 12px;
	color: #b0b0b0;
}
a:hover{
	color: #fff;
}

.light{
	font-size: 12px;
    color: #363b40; 
    margin: 0 4px;
}
.col1{
	width: 234px;
	float: left;
}
.col2{
	width: 978px;
	float: right;
}
/*loading*/
.loading{
	position: relative;
	width: 3px;
	height: 20px;
	background: #ff6700;
	margin: 0 auto;
	animation: sport 0.3s linear 0s alternate infinite;
}
.loading:after,.loading:before{
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 20px;
	background: #ff6700;
	content: "";
}
.loading:after{
	margin-left: -10px;
	transform: scale(1,0.6);
	animation: sport 0.3s linear 0.5s alternate infinite;
}
.loading:before{
	margin-left: 10px;
	transform: scale(1,0.4);
	animation: sport 0.3s linear 0.3s alternate infinite;
}
@keyframes sport{
	from{
		transform: (1,0.5);
		opacity: 0.3;
	}
	to{
		transform: (1);
		opacity: 1;
	}
}
